h1{
    background-color: rgb(161, 108, 9);
    font-family: Impact;
    color: rgb(223, 216, 185);
    border-radius: 5px;
    text-align: center;
}

.titulosP, .TitulosOG{
    background-color: dodgerblue;
    font-family: Impact;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.TitulosOP{
    background-color: rgb(226, 75, 75);
    font-family: Impact;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.titulosC, .titulom{
    background-color: yellow;
    font-family: Impact;
    color: black;
    border-radius: 5px;
    text-align: center;
}

#titulocard{
    background-color: dodgerblue;
    font-family: Impact;
    text-align: center;
    font-size: 30px;
    color: white;
    /* font-weight: bold; */
}

#divimagen{
    margin: auto;
    
}

#divOpersonajes{
    border: 6px double yellow;
}

#divpersonajes{
    border: 6px double dodgerblue;
}

#creador{
    background-image: url("../imagenes/creador.jpg");
}

#imgoda{
    border-radius: 4px;
    box-shadow: 8px;
}

#creadortxt{
    background-color: rgb(99, 77, 37);
    color: white;
    font-weight: bold;
    margin: auto;
}

#noticias{
    border: 4px solid rgb(161, 108, 9);
    border-radius: 5px;
    background-image: url("../imagenes/toei.png");
    align-items: center;
}

.carousel-item{
    background-image: url(../imagenes/organizaciones/fondoP.jpg);
    border-radius: 10px;
}

#divtabla{
    margin: auto;
}